<div>
  <% @transactions.each do |tr| %>
    <h3><%= link_to "LINK: #{tr.id}", transaction_path(tr) %></h3>
    <p> adrress: <%= tr.address %></p>
    <p> price: <%= tr.price %></p>
  <% end %>
</div>
<hr>