<h1>Transaction list </h1>

<div class="container"> 
  <div>
    <%= paginate @transactions %>
    <hr>
    <%= render @transactions %>  
  </div>
  <div>
    <%= tag.div nil, id: "map", data: {transactions: @transactions.to_json(methods: [:address])} %>
  </div>
</div>



